<ul class="tabs">
  <li id="classroom" class="classroom">Classrooms</li>
  <li id="computerclassroom" class="computerclassroom">Computer Classrooms</li>
  <li id="breakoutroom" class="breakoutroom selectedTab">Breakout Rooms</li>
  <li id="specialroom" class="specialroom">Special Rooms</li>
</ul>
<div id="tabsContent" class="tab-content">
  <p>Breakout Rooms Content</p>
</div>