<!Doctype HTML>
<html>
<head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div id="tabsDiv">
  <div>
    {{{ specialroomTabHolder }}}
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="../js/handlebars-v1.3.0.js"></script>
<script src="../js/views/breakoutRoomView.js"></script>
<script src="../js/views/classroomView.js"></script>
<script src="../js/views/computerClassroomView.js"></script>
<script src="../js/views/specialRoomView.js"></script>
<script src="../js/util.js"></script>
<script src="../js/main.js"></script>
</body>
</html>